#search1{
    height: 30px;
    width: 30%;
    border-radius: 10px;
    background-color: #c0baba;
    padding: 2px 10px;
    margin: 4px 4px;
    border-style: none;
    font-family: 'Itim';
    font-size: 14px;
}

.box1{
    margin: 15px 10px;
}

.image{
    width: 15%;
    padding-left: 140px;
    /* padding-top: 20px; */
    display: inline;
}

.image1{
    width: 15%;
    display: inline;
}
.images{
    font-family: 'Itim';
    font-size: 50px;
    padding-left: 50px;
}

.weather{
    border: 4px solid #c0baba;
    border-radius: 10px;
    width: 61%;
    margin-left: 15px;
    background-color: #c0baba;
}

.para1{
    padding-left: 45px;
    font-family: 'Itim';
    font-size: 26px;
    /* padding-bottom: 10px; */
}

.para2{
    padding-left: 5px;
    font-family: 'Itim';
    font-size: 14px;
    /* padding-bottom: 10px; */
}

body{
    background-color: #d1d1d1;
}

.column {
    float: left;
    width: 47%;
    padding: 10px;
    /* height: 300px; */
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tb1{
    padding: 10px;
}

.th1{
    padding: 12px;
}

.th3{
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 0px;
    padding-right: 12px;
}

#thone{
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}